<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.submit %>
<% end %>

<%= button_to "Delete Song", song_path(@song), method: :delete %>
